.logo {
  height: 120px;
  width: auto;
  border-radius: 2.5rem;
  max-width: 100%;

  @media (max-width: 965px) {
    height: 80px;
    border-radius: 2.5rem;

  }

  @media (max-width: 640px) {
    height: 50px;
    border-radius: 2.5rem;

  }
}